@use '../../Css/Variables';
.text-input-wrapper {
    position: relative;
    margin-top: Variables.$margin-top;
    border: solid 2px Variables.$gray-1;
    border-radius: Variables.$border-radius;
    transition: border-color 0.2s ease-in;

    &:hover {
      border: solid 2px Variables.$dark;
    }

    .label {
        position: absolute;
        left: 20px;
        top: 50%;
        color: Variables.$gray-1;
        transform: translateY(-50%);
        font-size: .8em;
        transition: top ease-in-out 0.2s;
        cursor: text;
      }

      & input:focus ~ .label, & input.not-empty  ~ .label {
        top: 18px;
      }

     & input {
        font-size: .9em;
        width: 100%;
        padding: 21px 20px;
        color: Variables.$dark;
        border: none;
        border-radius: Variables.$border-radius;
        transition: color 0.2s ease-in;
      }

      &:hover .label {
        color: Variables.$dark;
      }

      & input:focus, & input.not-empty{
        padding: 32px 20px 12px 20px;
        outline: none;
        border-color: Variables.$dark;
      }

} 