@use '../../Css/Variables.scss';
.spinner {
    width: 45px;
    height: 45px;
    margin: 10px auto;
    animation: spin 1s ease-in-out infinite;
    border-radius: 50%;
    border: solid 4px Variables.$dark;
    border-right-color: transparent;
    border-left-color: transparent;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}