@use '../../Css/Variables';
@use '../../Css/BreakPoint';

.jokes-counter {
    display: flex;
    background: Variables.$gray-2;
    align-items: center;
    justify-content: space-between;
    flex: 2;
    padding: 19px 20px;
    border-radius: Variables.$border-radius;

    @include BreakPoint.md {
      padding: 0 20px;
    }

    @include BreakPoint.md {
      .bottom-controls {
        padding: 0 0;
      }
    }

    button {
      color: Variables.$dark;
      font-size: 1.3rem;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: transparent;
      border: solid 2px Variables.$dark;
      cursor: pointer;
      transition: opacity .2 ease-in;

      &:hover {
        opacity: .6;
      }
    }
    
    input[type=number] {
      background: transparent;
      border: none;
      text-align: center;
      -moz-appearance: textfield;
      outline: none;
      width: 50px;
      height: 30px;
      color: Variables.$dark;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }  

  
