@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 600;
  font-display: swap;
  src: url("https://rsms.me/inter/font-files/Inter-SemiBoldItalic.woff2?v=3.19") format("woff2");
}
@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://rsms.me/inter/font-files/Inter-Regular.woff2?v=3.19") format("woff2");
}
@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 600;
  font-display: swap;
  src: url("https://rsms.me/inter/font-files/Inter-SemiBold.woff2?v=3.19") format("woff2");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --gray-2: #f5f6f8;
  --white: #ffffff;
  --red-error: #f39a9a;
  --gray-1: #c4c4c4;
  --dark: #34394f;
  --border-radius: 8px;
  --margin-top: 30px;
}

#root {
  background: var(--gray-2);
  font-family: 'Inter', sans-serif;
  font-style:  normal;
  font-weight: 400;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: var(--dark);
}

