@use 'Container';
@use 'Buttons'; 
@use 'Variables';
@use 'BreakPoint';

.root {
    background: Variables.$gray-2;
    font-family: 'Inter', sans-serif;
    font-style:  normal;
    font-weight: 400;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: Variables.$dark;
}  

.bottom-controls {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: Variables.$margin-top;
    flex-direction: column;

    @include BreakPoint.md {
        & {
            flex-direction: row;
        }
    }

    .button-wrapper{
        flex: 4;
    }
}

.errorJokeCounterText {
    color: Variables.$red-error;
    font-size: .95rem;
}
  