@use '../../Css/Variables';

.custom-select {
    border: solid 2px Variables.$gray-1;
    border-radius: Variables.$border-radius;
    position: relative;
    background: Variables.$white;

    &.select {
        border-color: Variables.$dark;

        fieldset button{
            color: Variables.$dark;
        }

        fieldset .options {
            border-color: Variables.$dark;
        }
    }

    &.open { 
        fieldset .options {
            visibility: visible;
        }
    }

    fieldset {
        border: none;
    }

    fieldset legend {
        border: none;
        width: 100%;
    }

    fieldset button {
        padding: 22px 20px;
        width: 100%;
        border: none;
        color: Variables.$gray-1;
        background: Variables.$white;
        border-radius: Variables.$border-radius;
        text-align: left;
        cursor: pointer;
    }

    fieldset .options {
        position: absolute;
        z-index: 100;
        top: 50px;
        left: -2px;
        width: 100%;
        background: Variables.$white;
        border-radius: 0  0 Variables.$border-radius Variables.$border-radius;
        border: solid 2px Variables.$gray-1;
        box-sizing: content-box;
        border-top: none;
        padding: 10px 0;
        visibility: hidden;
        font-size: .8em;
    
    }    
    
    fieldset label .text {
        display: block;
        padding: 22px 25px;
        margin: 0 10px;
        border-radius: Variables.$border-radius;
        color: Variables.$dark;
        cursor: pointer;
    }
    
    &.open, &, fieldset label .text:hover, .custom-select fieldset label input[type=radio]:focus ~ .text  {
        color: Variables.$dark;
        background: Variables.$gray-1;
    }
    fieldset label input[type=radio]{
        position: absolute;
        left: -9999999999999px;
    }
}
